{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="my-5">Découvrez nos opportunités d'investissement</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/360/240/?random" alt="project">
                        <div class="card-body">
                            <h5>Project name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad animi architecto id ipsum, iste omnis optio praesentium repellendus? Commodi consectetur corporis culpa debitis hic nesciunt ratione similique tenetur voluptatem!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/360/240/?random" alt="project">
                        <div class="card-body">
                            <h5>Project name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad animi architecto id ipsum, iste omnis optio praesentium repellendus? Commodi consectetur corporis culpa debitis hic nesciunt ratione similique tenetur voluptatem!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/360/240/?random" alt="project">
                        <div class="card-body">
                            <h5>Project name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad animi architecto id ipsum, iste omnis optio praesentium repellendus? Commodi consectetur corporis culpa debitis hic nesciunt ratione similique tenetur voluptatem!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}